    .contact-container-1-left {
        max-width: 50%;
        line-height: 26px;
        display: block;
        justify-content: center;
    }
    .contact-container-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fname .lname .message {
        display: block;
        font-size: 12px;
    }
    #fname, #lname, #text-message {
        padding: 0.3rem;
    }
    textarea {
        padding: 0.3rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .contact-container-1-right {
        max-width: 600px;
        width: 100%;
        max-height: 700px;
        height: 100%;
        display: block;
        flex-wrap: wrap;
        border: solid 1px rgb(190, 190, 190);
        padding: 8px;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .btn  {
        background-color: #4A4FF2;
        width: 125px;
        height: 50px;
        border: none;
        margin-top: 20px;
        
    }
    .btn:hover {
        background-color: #dbae1b;
        transition: 0.5s;
    }

    input {
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid #D8D8D8;
    }

    .contact-container-2 {
        margin-top: 40px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
    }

    @media (max-width: 768px) {
    .contact-container-2 img{
        max-width: 100%;
    }
    .contact-container-1-left {
        max-width: 100%;
    }
    }