.btn  {
    background-color: #4A4FF2;
    width: 125px;
    height: 50px;
    border: none;
}
.contact-container-1-left {
    max-width: 50%;
    line-height: 26px;
}
.contact-container-1 {
    display: flex;
    align-items: center;
}
.fname .lname .message {
    display: block;
}
form {
    width: 475px;
    display: block;
    flex-wrap: wrap;
}

input {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #D8D8D8;
}

.contact-container-2 {
    margin-top: 40px;
    margin-bottom: 30px;
}