  .mulish {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .mulish {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .blue {
    color: #4A4FF2;
  }

  .font-bold {
      font-family: "Mulish", sans-serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
  }

  .title {
    font-size: 40px;
  }

  .overline {
    text-decoration: overline;
  }

  .italic {
    color: #979797;
  }
