    body {
    font-family: "Mulish", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        margin: 0px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .nav-logo {
        margin: 12px;
        align-items: center;
    }
    .navbar li {
        list-style-type: none;
    }

    .navbar ul {
        display: flex;
    }

    .navbar a {
        text-decoration: none;
        color: black;
        padding: 15px;
        align-items: center;
    }

    .navbar-active {
        background-color: #4A4FF2;
    }
    .navbar a:hover {
        background-color: #dbae1b;
        transition: 0.5s;
    }
    /*Footer*/
    .footer-navbar {
        display: flex;
        justify-content: space-between;
    }
    .footer-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer-right {
        margin-left: 30px;
        margin-right: 40px;
    }
    .footer-navbar ul{
        list-style: none;
        text-decoration: none;
        display: flex;
        justify-content: space-around;
    }
    .footer-navbar a {
        text-decoration: none;
        color: black;
        padding: 10px;
    }

    .footer-svg {
        justify-content: space-around;
    }

    /* Media queries */
@media (max-width: 768px) {
    .footer-navbar {
    width: 100%;
    margin: 0;
    }

    body {
    margin: 0px auto;
    }

  .navbar {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    padding: 1rem;
    margin-bottom: 10px;
    }

  .navbar img {
    size: 10px;
    height: 14px;
     }

  .navbar a {
    padding: 10px;
  }
  
  nav {
    width: 100%;
  }
}

@media (max-width: 400px) {
  body {
    margin: 0px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    padding: 1rem;
    margin-bottom: 10px;
  }

  .navbar img {
    size: 10px;
    height: 14px;
  }

  .navbar a {
    padding: 10px;
  }

  nav {
    width: 100%;
  }
}