/* --- GLOBAL RESET --- */
* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* inga extra scrollbars */
}

/* --- NAVBAR --- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
  padding: 0.1rem;
  width: 100%;
  max-width: 1200px;
}

.nav-logo img {
  width: 120px; /* desktop-storlek */
  height: auto;
}

.navbar ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: black;
  padding: 12px;
}

.navbar a:hover {
  background-color: #dbae1b;
  transition: 0.5s;
}

.navbar-active {
  background-color: #4A4FF2;
}

/* --- FOOTER --- */
.footer-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.footer-navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

.footer-navbar img {
  margin-bottom: 1rem;
}

.footer-navbar a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.footer-right {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0;
}

/* --- MEDIA QUERIES MOBIL --- */
@media (max-width: 768px) {
  /* Navbar */
  .navbar {
    flex-direction: column; /* logga ovanför menyn */
    align-items: center;
    padding: 1rem;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .nav-logo img {
    width: 80px; /* mindre logga på mobil */
    margin-bottom: 1rem;
  }

  .navbar ul {
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  /* Footer */
  .footer-navbar {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .footer-right {
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    margin: 0;
  }

  .footer-navbar ul {
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .nav-logo img {
    width: 60px; /* ännu mindre logga */
  }

  .navbar a, .footer-navbar a {
    margin-bottom: 12px;
    padding: 6px;
    text-align: center;
  }
}
