.projects-container-1 {
    display: flex;
    justify-content: space-between;
}
.projects-container-1-left {
    max-width: 70%;
}
.projects-container-1-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(13 1fr);
    grid-auto-flow: row;
    border-bottom: solid 3px #D8D8D8;
}

.projects-container-1-right h4 {
    color: #979797;
}

.projects-container-images {
    display: grid;
    grid-template-rows: repeat(4 1fr);
    grid-auto-flow: column;
    grid-gap: 15px;
}

.footer-navbar {
    display: flex;
}