main {
    display: flex;
    flex-direction: column;
}
.projects-container-1 {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.projects-container-1-left {
    max-width: 50%;
    line-height: 26px;
}
.projects-container-1-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(13 1fr);
    grid-auto-flow: row;
    border-bottom: solid 3px #D8D8D8;
}

.projects-text-2 {
    margin: 40px 0 40px 0;
    line-height: 26px;
}
.projects-container-1-right h4 {
    color: #979797;
}

#img-big {
    margin-top: 40px;
}
.projects-container-images {
    display: grid;
    grid-template-rows: repeat(4 1fr);
    grid-auto-flow: column;
    grid-gap: 15px;
}
@media (max-width: 768px) {
    
.projects-container-1 {
    display: block;
}
.projects-container-1-left {
    max-width: 100%;
}
#img-big {
    width: 100%;
}
.projects-container-images {
    display: flex;
    flex-wrap: wrap;
    object-fit: contain;
    margin-bottom: 14px;
}
.projects-container-images img {
    width: 100%;
}
}