@import "nav";
@import "fonts";
@import "projects";
@import "contact";
html, body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
main {
    max-width: 1000px;
    margin: 0 auto;
}
body, nav, footer {
    width: 80%;
    max-width: 2000px;
    margin: auto;
}

body p {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.btn {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

label {
    color: #979797;
}

.container__first {
    display: flex;
    padding: 16px;
}

.container__first-right {
    display: flex;
    align-items: end;
    margin-bottom: 40px ;
}

.gallery-container {
  column-count: 3;
  gap: 1rem;
  max-width: 1000px;
  margin: 10 auto;
  padding: 1rem;
}

.gallery-container img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1rem;
}

/* Award grid */
.awards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  max-width: 1000px;
  margin: 2rem auto;
  border-top: 1px solid #ccc;
  gap: 40px 10px;
  padding-top: 1rem;
}

.award {
  display: contents;
}

.award-name {
  font-weight: bold;
}

.award-category {
  font-weight: 600;
}

.award-project {
  color: #555;
}

.award-description {
  display: block;
  font-weight: 400;
  color: #888;
}
.award-year {
  text-align: right;
  color: #555;
}
@media (max-width: 1024px) {
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .gallery-container {
    grid-template-columns: 1fr;
    .awards-container {
    grid-template-columns: 1fr;
  }
  }

}