body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin: 0px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
}

.nav-logo {
  margin: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar li {
  list-style-type: none;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar a {
  text-decoration: none;
  color: black;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-active {
  background-color: #4A4FF2;
}

.navbar a:hover {
  background-color: #d2b968;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*Footer*/
.footer-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  margin-left: 12px;
}

.footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-right {
  margin-left: 30px;
  margin-right: 40px;
}

.footer-navbar ul {
  list-style: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-navbar a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.footer-svg {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mulish {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.mulish {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.blue {
  color: #4A4FF2;
}

.font-bold {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.title {
  font-size: 40px;
}

.overline {
  text-decoration: overline;
}

.italic {
  color: #979797;
}

.projects-container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects-container-1-left {
  max-width: 50%;
  line-height: 26px;
}

.projects-container-1-right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: ()[13 1fr];
  grid-template-rows: repeat(13 1fr);
  grid-auto-flow: row;
  border-bottom: solid 3px #D8D8D8;
}

.projects-container-1-right > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.projects-container-1-right > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.projects-text-2 {
  margin: 40px 0 40px 0;
  line-height: 26px;
}

.projects-container-1-right h4 {
  color: #979797;
}

#img-big {
  margin-top: 40px;
}

.projects-container-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: ;
  grid-template-rows: repeat(4 1fr);
  grid-auto-flow: column;
  grid-gap: 15px;
}

.btn {
  background-color: #4A4FF2;
  width: 125px;
  height: 50px;
  border: none;
}

.contact-container-1-left {
  max-width: 50%;
  line-height: 26px;
}

.contact-container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fname .lname .message {
  display: block;
}

form {
  width: 475px;
  display: block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

input {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #D8D8D8;
}

.contact-container-2 {
  margin-top: 40px;
  margin-bottom: 30px;
}

body {
  margin: 20px;
}

body, nav, footer {
  max-width: 2000px;
  margin: auto;
}

body p {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.btn {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

label {
  color: #979797;
}

.container__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container__first-left {
  max-width: 635px;
}

.container__first-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 1960px;
  max-width: 550px;
  grid-gap: 12px;
  -ms-grid-column-align: center;
      justify-self: center;
}

/* Grid 1 */
.grid__first {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 1fr 1fr 1fr;
  grid-template-columns: 50% 1fr 1fr 1fr;
  -ms-grid-rows: 40px 40px 40px;
  grid-template-rows: 40px 40px 40px;
}
.grid__first > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.grid__first > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.grid__first > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.grid__first > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
.grid__first > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.grid__first > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.grid__first > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.grid__first > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
.grid__first > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.grid__first > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.grid__first > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.grid__first > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.grid__first-left {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: 1/1/3/1;
}

.grid__first-middle {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1/3/3/4;
}

.grid__first-right {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1/4/3/5;
}

/*Grid 2 */
.grid__second {
  display: -ms-grid;
  display: grid;
  grid-gap: 0px;
  -ms-grid-columns: ;
  grid-template-columns: repeat(6 1fr);
  -ms-grid-rows: ;
  grid-template-rows: repeat(6 1fr);
}
.grid__second > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid__second-first {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
}

.grid__second-second {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1/3/3/4;
}

.grid__second-third {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: 1/4/3/4;
}

.grid__second-forth {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 4/3/5/4;
}

.grid__second-fifth {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 6;
  grid-area: 1/6/3/6;
}

/*Grid 3*/
.grid__third {
  display: -ms-grid;
  display: grid;
  grid-gap: 0px;
  -ms-grid-columns: ;
  grid-template-columns: repeat(6 1fr);
  -ms-grid-rows: ;
  grid-template-rows: repeat(6 1fr);
}
.grid__third > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid__third-first {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
}

.grid__third-second {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1/3/3/4;
}

.grid__third-third {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: 1/4/3/4;
}

.grid__third-forth {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 4/3/5/4;
}

.grid__third-fifth {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 6;
  grid-area: 1/6/3/6;
}