body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin: 0px;
}

main {
  color: orange;
  margin: 0px;
  max-width: 1500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-logo {
  margin: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar li {
  list-style-type: none;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar a {
  text-decoration: none;
  color: black;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-active {
  background-color: #3a4a6e;
}

.navbar a:hover {
  background-color: #647FBC;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mulish {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.mulish {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}