@import "nav";
@import "fonts";
@import "projects";
@import "contact";
body {
    margin: 20px;
}
body, nav, footer {
    max-width: 2000px;
    margin: auto;
}

body p {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.btn {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

label {
    color: #979797;
}

.container__first {
    display: flex;
    justify-content: space-evenly;
}

.container__first-left {
    max-width: 635px;
}

.container__first-right {
    display: flex;
    align-items: end;
}

.gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 1960px;
    max-width: 550px;
    grid-gap: 12px;
    justify-self: center;
}