@import"nav";
@import"fonts";
@import "projects";
body {
    margin: 20px;
}
body p {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}