body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin: 0px;
}

main {
  margin: 0px;
  max-width: 1500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-logo {
  margin: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar li {
  list-style-type: none;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar a {
  text-decoration: none;
  color: black;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-active {
  background-color: #3a4a6e;
}

.navbar a:hover {
  background-color: #647FBC;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mulish {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.mulish {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.projects-container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects-container-1-left {
  max-width: 70%;
}

.projects-container-1-right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: ()[13 1fr];
  grid-template-rows: repeat(13 1fr);
  grid-auto-flow: row;
  border-bottom: solid 3px #D8D8D8;
}

.projects-container-1-right > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.projects-container-1-right > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.projects-container-1-right h4 {
  color: #979797;
}

.projects-container-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: ;
  grid-template-rows: repeat(4 1fr);
  grid-auto-flow: column;
  grid-gap: 15px;
}

.footer-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  margin: 20px;
}

body p {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}