@import "nav";
@import "fonts";
@import "projects";
@import "contact";
body {
    margin: 20px;
}
body, nav, footer {
    width: 80%;
    max-width: 2000px;
    margin: auto;
}

body p {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.btn {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

label {
    color: #979797;
}

.container-gallery {
    display: flex;
    justify-content: center;
}

.container__first {
    display: flex;
    justify-content: space-evenly;
}

.container__first-left {
    max-width: 635px;
}

.container__first-right {
    display: flex;
    align-items: end;
}

.gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 1960px;
    max-width: 1150px;
    grid-gap: 12px;
    align-items: center;
}
/* Grid 1 */
.grid__first {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 3fr;
}

.grid__first-left {
    grid-area: 1/1/2/3;
    
}

.grid__first-middle {
    grid-area: 1/5/3/6;
}

.grid__first-right {
    grid-area: 1/7/2/8;
}
/*Grid 2 */
.grid__second {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
}

.grid__second-first {
    grid-area: 1/1/2/2;
}

.grid__second-second {
    grid-area: 1/4/2/5;
}

.grid__second-third {
    grid-area: 1/5/2/6;
}
.grid__second-forth {
    grid-area: 1/7/2/8;

}
/*Grid 3*/
.grid__third {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
}

.grid__third-first {
    grid-area: 1/4/2/5;
}

.grid__third-second {
    grid-area: 1/4/2/5;
}

.grid__third-third {
    grid-area: 1/5/2/6;
}
.grid__third-forth {
    grid-area: 1/7/2/8;

}

