@import"nav";
@import"fonts";
@import "projects";
@import "contact";
body {
    margin: 20px;
}
body p {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.btn {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}


label {
    color: #979797;
}

.container__first {
    display: flex;
    justify-content: space-evenly;
}

.container__first-left {
    max-width: 635px;
}

.container__first-right {
    display: flex;
    align-items: end;
}

.container__gallery {
    grid-template-columns: repeat(3 357px);
}